@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap')
	;

body {
	background-color: #e2e2e2;
	color : black;
/* 	min-height:1200px;
 */}

.container {
	padding: 0 10%;
	height: 100%;
	width:100%;
}

#title_row{
padding-bottom:5%;
width:100%;	
}

.header_title{
	padding-left:40px;
}


tr{
	justify-content: center;
	align-content: center;
}
