@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap')
	;

#footer {
	height: 200px;
	
	background: #0b000b;
	color: whitesmoke;
}

.span_div {
	margin-left: 40%; 
	padding-top: 160px;
	align-items: center;
	justify-content: center; 
	
}