@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
	
* {
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: montserrat;
}

nav {
	background: #170017;
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 1;
}

nav .menu {
	margin: auto;
	display: table-row-group;
	align-items: center; 
	justify-content: space-between; 
}



.menu ul {
	display: inline-flex;
}

.menu ul li {
	padding-top: 0px;
	list-style: none;
}

#li-first-child {
	margin-left: 0px;
}

.menu ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.menu ul li a:hover {
	background: #fff;
	color: black;
}

label.logo {
	color: rgb(252, 1, 77);
	font-size: 30px;
	line-height: 80px;
	padding: 0 20px;
	font-weight: bold;
}

nav ul li {
	display: inline-block;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 5px 5px;
	border-radius: 3px;
}
a.active, a:hover {
	background: white;
	color:white;
	transition: .5s;
}









