@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


#footer{
	height:200px;
	padding-left:250px;
  background:#0b000b;
	color:whitesmoke;
}

.span_div{

	padding-left:400px;
	padding-top:160px;
	
}