<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="header">
<head>

	<!-- External CSS -->
		<link rel="stylesheet" href="" th:href="@{/assets/css/checkout.css}">
	
</head>
<body>

<div layout:fragment="content">

<div class="container">
<h1 class="title" style="padding-left:0%;">
Checkout
</h1>
<h2 style="color:green">Hurray ! You have successfully ordered your product. Your Product is under development.</h2>
</div>
</div> 
</body>
</html>
