

<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="header"> 
	
	 <head>
    <meta charset="UTF-8">
   <!-- <title> Responsive Contact Us Form  | CodingLab </title>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
<!--      <link rel="stylesheet" href="" th:href="@{/assets/css/about.css}">
 -->     
        <link rel="stylesheet" href="" th:href="@{/assets/css/contact.css}">
     
     
   </head>

<body>
<div layout:fragment="content">
  <h2>
  Contact Form
  </h2>
  </div>
</body>
</html>

