

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<!-- <div th:fragment="headerAttr">
 -->
<head>
<!-- Required meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Boxicons CDN Link -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>


<link rel="stylesheet" href="style.css">
<!-- Boxicons CDN Link -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>


<title>GYW</title>
<link rel="icon" type="/assets/image/x-icon"
	href="/assets/image/favicon.ico">

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->


<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">

<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'
	crossorigin='anonymous'></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
<!-- External CSS -->

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<link rel="stylesheet" href=""
	th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" href="" th:href="@{/assets/css/header.css}">




</head>


<div class="sidebar">
	<div class="logo-details">
		<i class='bx bxl-c-plus-plus'></i> <span class="logo_name">GYW</span>
	</div>
	<ul class="nav-links">
		<li><a href="/" class=""> <i class='bx bx-grid-alt'></i> <span
				class="links_name">Dashboard</span>
		</a></li>
		<li><a href="showDesignsPage"> <i
				class='bx bx-pie-chart-alt-2'></i> <span class="links_name">Designs</span>
		</a></li>
		<li><a href="showCartItems"> <i class='bx bx-cart'></i> <span
				class="links_name">Orders</span>
		</a></li>
		<!-- <li><a href="#"> <i class='bx bx-coin-stack' style="color: #fd7e14;"></i> <span
						class="links_name">Stock</span>
				</a></li> -->
		<li><a href="showAboutPage"> <i class='bx bx-book-alt'></i> <span
				class="links_name">About</span>
		</a></li>
		<!-- <li><a href="#"> <i class='bx bx-heart' ></i> <span
						class="links_name">Favrorites</span>
				</a></li> -->
		<li><a href="showContactPage"> <i class='bx bx-comment-dots'></i>
				<span class="links_name">Contact</span>
		</a></li>
		
	</ul>
</div>
<section class="home-section">
	<nav>
		<div class="sidebar-button">
			<i class='bx bx-menu sidebarBtn'></i> <span class="dashboard">Dashboard</span>
		</div>
		<div class="search-box">
			<input type="text" placeholder="Search..."> <i
				class='bx bx-search'></i>
		</div>
		<!-- <div class="profile-details">
			<img src="images/profile.jpg" alt="">
			<span class="admin_name">Gyw User</span> <i
				class='bx bx-chevron-down'></i>
		</div> -->



		<div class="dropdown">
			<button class="dropbtn">

				<span class="glyphicon glyphicon glyphicon-user"
					style="font-size: 22px; color: #d00643;"></span> <span
					class="glyphicon glyphicon-down"
					style="font-size: 22px; color: black;"></span>

			</button>
			<div class="dropdown-content">

				<a href="/showCustomerList"><span
					class="glyphicon glyphicon-sunglasses"
					style="font-size: 16px; margin-left: 6px; margin-right: 10px;"></span>Profiles</a>
				<a href="signup"> <span class="glyphicon glyphicon-user"
					style="font-size: 15px; margin-left: 6px; margin-right: 10px;"></span>SignUp
				</a> <a href="login"> <span class="glyphicon glyphicon-log-in"
					style="font-size: 16px; margin-left: 6px; margin-right: 10px;"></span>LogIn
				</a>
				
				<a href="/"><span class="glyphicon glyphicon-off"
					style="font-size: 16px; margin-left: 6px; margin-right: 10px;"></span>Log out
				</a>

			</div>
		</div>




	</nav>



	<div class="home-content">
		<div layout:fragment="content">
			Changing contents
			<th:block layout:fragment="script"></th:block>
		</div>


	</div>



	<!--  -->


</section>


<!-- <div th:insert="footer :: footerAttr"></div>
 -->



<script>
	let sidebar = document.querySelector(".sidebar");
	let sidebarBtn = document.querySelector(".sidebarBtn");
	sidebarBtn.onclick = function() {
		sidebar.classList.toggle("active");
		if (sidebar.classList.contains("active")) {

			sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");

		} else
			sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
	}
</script>





</body>

</html>