<html>

<body>
	<div th:fragment="headerAttr">

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<title>GYW</title>
		<link rel="icon" type="/assets/image/x-icon" href="/assets/image/favicon.ico">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->


		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">

		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
		<!-- External CSS -->
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


		<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<link rel="stylesheet" href="" th:href="@{/assets/css/header.css}">

		<link rel="stylesheet" href="" th:href="@{/assets/css/customerUpdateForm.css}">











		<nav>
			<input type="checkbox" id="check">
			<label for="check" class="checkbtn">
				<i class="fas fa-bars"></i>
			</label>
			<label class="logo">GYW</label>

			<ul>

				<li> <a href="/"> <i class="glyphicon glyphicon-home"
							style="font-size: 15px; margin-left: 6px; margin-right: 10px; color: rgb(255, 0, 51);"></i>
						<span>Home</span>
					</a>
				</li>

				<li><a href="showDesignsPage"> <span class="glyphicon glyphicon-fire"
							style="font-size: 15px; margin-left: 6px; margin-right: 10px; color: orange;"></span><span>Designs</span></a>
				</li>
				<li><a href="showCartItems"> <span class="glyphicon glyphicon-shopping-cart"
							style="font-size: 15px; margin-left: 6px; margin-right: 10px; color: rgb(0, 255, 128);"></span><span>Orders</span></a>
				</li>

				<li><a href="showCustomerList"> <span class="glyphicon glyphicon-knight"
							style="font-size: 16px; margin-left: 6px; margin-right: 10px; color: violet;"></span><span>profiles</span></a>
				</li>
				
				<li><a href="signup"> <span class="glyphicon glyphicon-user"
							style="font-size: 15px; margin-left: 6px; margin-right: 10px; color: rgb(83, 169, 255);"></span><span>SignUp</span></a>
				</li>
				
				<li><a href="login"> <span class="glyphicon glyphicon-log-in"
							style="font-size: 16px; margin-left: 6px; margin-right: 10px; color: rgb(255, 255, 0);"></span><span>LogIn</span></a>
				</li>
			
				
			</ul>



		</nav>






		<!--
		
		
		<nav>
			<div class="menu">
				<img id="imgLogo" src="/assets/image/gyw_logo.png">


				<ul>

					<li id="li-first-child"> <a href="/"> <span>Home</span></a></li>
					<li><a href="showDesignsPage"><span>Designs</span></a></li>
					<li><a href="signup"> <span>Sign Up</span></a></li>


					<li>
						<div class="dropdown">
							<button class="dropbtn">
								<i class="material-icons" style="font-size:33px;color:rgb(0, 255, 255)">person</i>
							</button>
							<div class="dropdown-content">
								<a href="/showCustomerList"><i class="material-icons"
										style="font-size: 25px; color: violet; margin-left: 6px; margin-right: 10px;">group</i>Profiles</a>
								<a href="showCartItems"><i class="glyphicon glyphicon-shopping-cart"
										style="font-size: 25px; margin-left: 6px; margin-right: 10px; color: orange;"></i>
									<span>Cart</span></a>
								<a href="login"> <i class="material-icons"
										style="font-size: 25px; margin-left: 6px; margin-right: 10px; color: lawngreen;">account_box</i>
									<span>Log In</span>
								</a> <a href="/"><i class="material-icons"
										style="font-size: 25px; margin-left: 6px; margin-right: 11px; color: red">exit_to_app</i>
									<span>Log Out</span> </a>
							</div>
						</div>

					</li>



				</ul>
			</div>
		</nav>


-->



	</div>




	<script>
		// Dropdown Menu
		var dropdown = document.querySelectorAll('.dropdown');
		var dropdownArray = Array.prototype.slice.call(dropdown, 0);
		dropdownArray.forEach(function (el) {
			var button = el.querySelector('a[data-toggle="dropdown"]'),
				menu = el.querySelector('.dropdown-menu'),
				arrow = button.querySelector('i.icon-arrow');

			button.onclick = function (event) {
				if (!menu.hasClass('show')) {
					menu.classList.add('show');
					menu.classList.remove('hide');
					arrow.classList.add('open');
					arrow.classList.remove('close');
					event.preventDefault();
				}
				else {
					menu.classList.remove('show');
					menu.classList.add('hide');
					arrow.classList.remove('open');
					arrow.classList.add('close');
					event.preventDefault();
				}
			};
		})

		Element.prototype.hasClass = function (className) {
			return this.className && new RegExp("(^|\\s)" + className + "(\\s|$)").test(this.className);
		};
	</script>

</body>

</html>