<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="header">
<head>

<link rel="icon" type="image/x-icon" href="/assets/image/favicon.ico">

<link rel="stylesheet" href="" th:href="@{/assets/css/index.css}">

</head>

<body>



	<div layout:fragment="content">





		<div class="img"></div>
		<div class="center">
			<div class="title">Get Your Website</div>
			<div class="sub_title">Online Website Shopping Plaform</div>
			<div class="btns">
				<a href="showAboutPage"><button class="about_btn"
						style="color: black; background-color: skyblue">Learn
						More</button></a>
				<button onclick="myFunction()" class="sub_btn">Subscribe</button>
			</div>
		</div>


		<script>
			function myFunction() {
				var a = confirm("Successfully ! You've Subscribed to Gyw.");
				console.log(a)
			}
		</script>


		<!--Content of the page-->

	</div>

</body>
</html>
