<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="header">
<head>


<link rel="stylesheet" href="" th:href="@{/assets/css/signup.css}">

</head>

<body>
	<div layout:fragment="content">


		<h1 class="title">SIGN UP</h1>


		<div class="container">
			<form autocomplete="off" action="#" th:action="@{/signup}"
				th:object="${customer_attribute}" method="post">
				<div class="form-group">
					<label for="formGroupExampleInput">User Name</label> <input
						th:field="*{user_name}" type="text" name="user_name"
						class="form-control" id="formGroupExampleInput"
						placeholder="User Name" autocomplete="off">
				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label> <input
						th:field="*{email}" type="email" name="email" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp"
						placeholder="Enter email" autocomplete="off"> <small
						id="emailHelp" class="form-text text-muted">We'll never
						share your email with anyone else.</small>
				</div>

				<div class="form-group row">
					<div class="col-sm-6">
						<label for="formGroupExampleInput">Password</label> <input
							th:field="*{password}" type="password" name="Password"
							class="form-control" id="formGroupExampleInput"
							placeholder="Password" autocomplete="off">
					</div>
					<div class="col-sm-6">
						<label for="formGroupExampleInput">Confirm Password</label> <input
							th:field="*{confirm_password}" type="password"
							name="Confirm Password" class="form-control"
							id="formGroupExampleInput" placeholder="Confirm Password"
							autocomplete="off">
					</div>
				</div>




				<div class="modal-footer d-flex justify-content-center"
					id="submit_div">
					<div class="row">

						<div class="col-md-12">
							<button type="submit" name="action" value="register"
								class="btn btn-success">Submit</button>
							<!-- <button class="btn btn-light" id="resendotp">Resend OTP</button> -->
						</div>
					</div>
				</div>
			</form>
		</div>



	</div>






</body>

</html>


